@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-dark: #222;
	--color-light: #f2e7e1;
	--color-accent: #c0392b;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--color-dark);
	padding-bottom: 50px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--color-dark);
	transition: all 0.3s ease-in-out;
}

.nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
	transition: all 0.3s ease-in-out;
}

.nav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav a {
	color: var(--color-light);
	text-decoration: none;
	padding: 7px 15px;
	transition: all 0.3s ease-in-out;
}

.nav.active {
	background-color: var(--color-light);
}

.nav.active a {
	color: var(--color-dark);
}

.nav.active .container {
	padding: 8px 0;
}

.nav a.current,
.nav a:hover {
	color: var(--color-accent);
	font-weight: bold;
}

.hero {
	background-image: url(https://images.pexels.com/photos/2859169/pexels-photo-2859169.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	height: 100vh;
	color: var(--color-light);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
	z-index: -2;
}

.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(35, 24, 13, 0.6);
	z-index: -1;
}

.hero h1 {
	font-size: 3rem;
	margin: -20px 0 20px;
}

.hero p {
	font-size: 1.5rem;
	letter-spacing: 1.2px;
}

.content h2,
.content h3 {
	font-size: 150%;
	margin: 20px 0;
	color: #555;
}

.content p {
	color: #555;
	line-height: 30px;
	letter-spacing: 1.2px;
}
